/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #44484f;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
/* icons */
.icon {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
}
/* links */

.link-default{
    display: block;
    width: 135px;
    padding: 16px;
    text-align: center;
    color: #fff;
    background: #3dd2ae;
    text-decoration: none;
    border-radius: 28px; 
    font-size: 14px;
    font-weight: 600;
}
.link-default:hover{
    transition: all 1s ease-in;
    background: #20967a;
}
.link-default--alt {
    width: 120px;
    background: #835fa8;
    font-size: 15px;
}
.link-default--alt:hover{
    transition: all 1s ease-in;
    background: #593c76;
}
.sec__inner {
    width: 100%;
    margin: 0 auto;
}

/* header */
.sec--head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.sec--head .sec__inner {
    width: 100%;
    padding: 0 30px 0 0;
}

.sec--head .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}

/* header box */
.sec__box {
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 70px;
}
.sec__box--main {
    float: left;
}

.sec__box--tools {
    padding-top: 20px;
    float: right;

}
.sec__box--tools:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.search {
    position: relative;
    float: left;
}
.search-btn {
  position: absolute;
  top: 13px;
  right: 38px;
  background: transparent;
  border: none;
  color: #a7a7a8;
  font-size: 18px;
}
input[type=search] {
    width: 254px;
    margin: 0 20px;
    padding: 17px 35px;
    border: 0;
    border-radius: 28px; 
    background: #343c48;
    color: #9da5b0;
    font-size: 14px;
    font-weight: 400;
}
.buy {
    float: left;
}
.nav {
    margin-left: 20px;
    padding-top: 12px;
    float: right;
    font-size: 20px;
    color: #f9f9f4;
}
.nav a{
    color: #fff;
}
.buy .nav {
    display: inline;
}
/* main */
.hero {
    width: 100%;
    min-height: 900px;
    background-color: #232831;
    background-image: url('../img/masthead.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* info-box */
.info-box {
    padding: 15px;
    color: #fff;
}
.info-box__title {
    font-size: 40px;
    font-weight: 300;
}
.info-box__content {
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
}
.info-box--highlighted {
    position: absolute;
    top: 380px;
    left: 650px;
    color: #fff; 
}
.info-box--highlighted .info-box__title {
    font-size: 70px;
    font-weight: 300;
}
.info-box--highlighted .info-box__content {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}
.info-box--small {
    text-align: left;
}
.info-box--small .info-box__title {
    padding:;
    font-size: 30px;
    font-weight: 300;
    color: #2b303b;
}
.info-box--small .info-box__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #696f7c;
}
.info-box--small .info-box__content {
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #44484f;
}
.info-box--center {
    text-align: center;
}
.info-box--center .info-box__content {
    color: #9da5b0;
}

/* section super-duper */
.sec--super-duper {
    background: #835fa8;
}
.sec--super-duper .sec__inner {
    width: 1200px;
}
.sec--super-duper .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.sec__box-content {
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 500px;
}
.box--left {
    width: 50%;
    float: left;
}
.box--right {
    position: relative;
    width: 50%;
    float: right;
}
.box--right img {
    position: absolute;
    top: -100px;
}

/* section features */
.sec--features {
    background: #f4f8fb;
}
.sec--features .sec__inner {
    width: 1200px;
}
.sec--features .sec__inner:after {
    height: 0;
    clear: both;
    display: block;
    margin: 0;
    content: '';
}
.box--feature {
    width: calc((100% - 60px)/3);
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
    text-align: center;
}
.box--feature:last-child {
    margin-right: 0;
}

/* section for humans */
.sec--for-humans {
    background: #232831;
}
.sec--for-humans .sec__inner {
    width: 1200px;
}
.box--for-humans{
    padding-top: 50px;
    padding-bottom: 0;
}
.shape {
    position: absolute;
    margin-top: -27px;
    left: 47%;
    right: 47%;
    
}
.photo-wrap {
    text-align: center;
    margin-bottom: 0;
}
/* section services */
.sec--services {
    background: #2b303b;
}
.sec--services .sec__inner {
    width: 1200px;
}
.services-list:after {
    content: '';
    height: 0;
    clear: both;
    display: block;

}
.services-list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px 0;
    list-style-type: none;
    counter-reset: section;
    text-align: left;
}
.service-list-item {
    float: left;
    width: calc((100% - 60px)/4);
    margin-right: 20px;
    box-sizing: border-box;
}
.service-list-item:last-child {
    margin-right: 0;
}
.service-list-item i {
    padding-left: 15px;
    font-size: 38px;
    color: #3dd2ae;
}
.service-list-item__title:before {
    counter-increment: section;
    content: "0" counters(section, "") " ";
    color: #3a4d60;
}
.service-list-item__title {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.service-list-item__content {
    padding: 15px;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #9da5b0;
}

/*section conectivity */
.sec--conectivity {
    background: #e9eef1;
}
.sec--conectivity .sec__inner {
    width: 1200px;
}
.sec--conectivity .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.sec__conectivity-left {
    width: 50%;
    height: 560px;
    float: left;
    position: relative;
}
.sec__conectivity-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 560px;
    background: url(../img/watch.png) 50% 50% no-repeat;
    background-size: cover;
} 
.conectivity-content {
    padding-top: 70px;
    padding-bottom: 40px;

}
.info-box .icon {
    color: #835fa8;
}
.sec__conectivity-left .info-box__title {
    font-weight: 300;
    color: #2b303b;
}
.sec__conectivity-left .info-box__subtitle {
    line-height: 30px;
    font-size: 20px;
    color: #696f7c;
}
.sec__conectivity-left .info-box__content {
    line-height: 28px;
    font-size: 14px;
    color: #696f7c;
}

/* section latest-news */
.sec--latest-news {
    background: #f4f8fb;
}
.sec--latest-news .sec__inner {
    width: 1200px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
