/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;

    color: #222;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #ccc;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    margin: 0;
    padding: 0;

    border: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;

    color: #44484f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
/* icons */

.icon {
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
}
/* links */

.link-default {
    display: block;

    width: 135px;
    padding: 16px;

    font-size: 14px;
    font-weight: 600;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 28px;
    background: #3dd2ae;
}
.link-default:hover {
    transition: all .4s ease-in;

    background: #20967a;
}
.link-default--alt {
    width: 120px;

    font-size: 15px;

    background: #835fa8;
}
.link-default--alt:hover {
    transition: all .4s ease-in;

    background: #593c76;
}
/* positions and sizes box */

.sec__box--left {
    float: left;
}
.sec__box--right {
    float: right;
}
.sec__box--equal {
    width: 50%;
}
.sec__box--small {
    width: 40%;
}
.sec__box--big {
    width: 60%;
}
.sec__box--alt {
    min-height: 500px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.sec__box--3col {
    float: left;

    box-sizing: border-box;
    width: calc((100% - 60px)/3);
    margin-right: 30px;
}
.sec__box--3col:last-child {
    margin-right: 0;
}
.sec__inner {
    width: 100%;
    margin: 0 auto;
}
/* blockquotes */

.blockquote {
    position: relative;

    height: 460px;

    background: #835fa8;
}
.blockquote__inner {
    position: relative;
    z-index: 2;

    padding: 45px;
}
.blockquote--left .blockquote__inner {
    padding-left: 0;
}
.blockquote:before {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;

    display: block;

    width: 50vw;
    height: 100%;
    margin: auto 0;

    content: '';

    background: #835fa8;
}
/*.blockquote--right:before {
    right: -49vw;
    background: #835fa8;
}
*/
.blockquote--left:before {
    left: -49vw;

    background: #835fa8;
}
.blockquote__date {
    margin-bottom: 18px;

    font-size: 12px;
    font-weight: 300;
    font-style: italic;

    color: #fff;
}
.blockquote__cite {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    line-height: 44px;

    color: #fff;
}
.blockquote__author {
    margin-top: 30px;

    font-size: 15px;
    font-weight: 400;

    color: #fff;
}
.blockquote__author img {
    margin-right: 20px;
}
/* info boxes */

.info-box {
    padding: 0;

    color: #fff;
}
.info-box__inner {
    padding: 15px 15px 15px 0;
}
.info-box__title + .info-box__subtitle {
    margin-top: 30px;
}
.info-box__title + .info-box__content {
    margin-top: 30px;
}
.info-box__subtitle + .info-box__content {
    margin-top: 30px;
}
.info-box__content + .info-box__actions {
    margin-top: 50px;
}
.info-box__title {
    font-size: 40px;
    font-weight: 300;
}
.info-box__content {
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.info-box--highlighted {
    position: absolute;
    top: 18vw;
    left: 35vw;

    color: #fff;
}
.info-box--highlighted .info-box__title {
    font-size: 70px;
    font-weight: 300;
}
.info-box--highlighted .info-box__content {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.info-box--small {
    text-align: left;
}
.info-box--small .info-box__title {
    font-size: 30px;
    font-weight: 300;

    color: #2b303b;
}
.info-box--small .info-box__subtitle {
    font-size: 20px;
    font-weight: 400;

    color: #696f7c;
}
.info-box--small .info-box__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    color: #44484f;
}
.info-box--center {
    text-align: center;
}
.info-box--center .info-box__content {
    color: #9da5b0;
}
/* Header
   ========================================================================== */

.head-sec {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;

    margin-top: 45px;
}
.head-sec .sec__inner {
    width: 100%;
    padding: 0 30px 0 0;
}
.head-sec .sec__inner:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
/* header box */

.head-sec .sec__box {
    z-index: 100;

    margin-right: 70px;
    margin-left: 50px;
}
.sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    margin-top: 0;
    padding-bottom: 10px;

    background: #000;
}
.sticky img {
    width: 70%;
    height: 70%;
    padding-top: 14px;
}
.sticky .link-default--alt {
    width: 100px;
    padding: 12px;

    font-size: 14px;
}
.sticky input[type=search] {
    width: 180px;
    padding: 12px 35px;
}
.sticky .search-btn {
    top: 8px;
}
.sticky .nav {
    padding-top: 8px;
}
.sec__box--main {
    float: left;
}
.sec__box--tools {
    float: right;

    padding-top: 20px;
}
.sec__box--tools:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
.search-form {
    position: relative;

    float: left;
}
.search-btn {
    position: absolute;
    top: 13px;
    right: 38px;

    font-size: 18px;

    color: #a7a7a8;
    border: none;
    outline: none;
    background: transparent;
}
input[type=search] {
    width: 254px;
    margin: 0 20px;
    padding: 17px 35px;

    font-size: 14px;
    font-weight: 400;

    color: #9da5b0;
    border: 0;
    border-radius: 28px;
    background: #343c48;
}
input[type=search]:focus {
    outline: none;
}
.buy {
    float: left;
}
.nav {
    float: right;

    margin-left: 20px;
    padding-top: 12px;

    font-size: 20px;

    color: #f9f9f4;
}
.nav a {
    color: #fff;
}
.buy .nav {
    display: inline;
}
/* Main
   ========================================================================== */
/* hero */

.main-sec__hero {
    width: 100%;
    min-height: 900px;

    background-color: #232831;
    background-image: url('../img/masthead.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* section super-duper */

.super-duper-sec {
    background: #835fa8;
}
.super-duper-sec .sec__inner {
    width: 1100px;
}
.super-duper-sec .sec__inner:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
.super-duper-sec .sec__box--right {
    position: relative;
}
.super-duper-sec .sec__box--right img {
    position: absolute;
    top: -100px;
}
/* section features */

.features-sec {
    position: relative;
    z-index: 1;

    background: #f4f8fb;
}
.features-sec .sec__inner {
    width: 1100px;
}
.features-sec .sec__inner:after {
    display: block;
    clear: both;

    height: 0;
    margin: 0;

    content: '';
}
.features-sec .sec__box {
    min-height: 500px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
/* section for humans */

.for-humans-sec {
    background: #232831;
}
.for-humans-sec .sec__inner {
    width: 1100px;
}
.shape {
    width: 103px;
    height: 57px;
    margin: -27px auto 0 auto;

    background-image: url('../img/shape.png');
    background-size: cover;
}
.for-humans-sec .sec__box {
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 0;
}
.photo-desk {
    display: block;

    width: 795px;
    height: 240px;
    margin: 0 auto;

    background-image: url('../img/desk.png');
    -webkit-background-size: cover;
            background-size: cover;
}
/* section services */

.services-sec {
    background: #2b303b;
}
.services-sec .sec__inner {
    width: 1100px;
}
.services-list:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
.services-list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 80px 0;

    list-style-type: none;

    counter-reset: section;
    text-align: left;
}
.service-list__item {
    float: left;

    box-sizing: border-box;
    width: calc((100% - 90px)/4);
    margin-right: 30px;
}
.service-list__item:last-child {
    margin-right: 0;
}
.service-list__item i {
    font-size: 38px;

    color: #3dd2ae;
}
.service-list__item__title:before {
    content: '0' counters(section, '') ' ';
    counter-increment: section;

    color: #3a4d60;
}
.service-list__item__title {
    padding: 15px 0;

    font-size: 20px;
    font-weight: 400;

    color: #fff;
}
.service-list__item__content {
    margin-bottom: 20px;
    padding: 15px 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 28px;

    color: #9da5b0;
}
/*section conectivity */

.conectivity-sec {
    background: #e9eef1;
}
.conectivity-sec .sec__inner {
    width: 1100px;
}
.conectivity-sec .sec__inner:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
.conectivity-sec .sec__box {
    height: 560px;
}
.conectivity-sec .info-box {
    padding-top: 70px;
    padding-bottom: 40px;
}
.info-box .icon {
    color: #835fa8;
}
.conectivity-sec .info-box__title {
    font-weight: 300;

    color: #2b303b;
}
.conectivity-sec .info-box__subtitle {
    font-size: 20px;
    line-height: 30px;

    color: #696f7c;
}
.conectivity-sec .info-box__content {
    font-size: 14px;
    line-height: 28px;

    color: #696f7c;
}
.conectivity-photo {
    position: absolute;

    width: 50%;
    height: 560px;

    background: url('../img/watch.png') 50% 50% no-repeat;
    background-size: cover;
}
/* section latest-news */

.latest-news-sec .sec__inner {
    position: relative;

    width: 1100px;
}
.latest-news-sec .sec__inner:after {
    position: absolute;

    display: block;
    clear: both;

    margin: 0;

    content: '.';
}
.latest-news-sec .sec__box {
    min-height: 460px;
    margin: 0;
}
.media {
    width: 100%;
    height: 460px;
    margin: 0;

    background: url('../img/video_phone.png') 50% 50% no-repeat;
    background-size: cover;
}
.latest-news-link {
    position: absolute;
    z-index: 3;
    bottom: 0;

    width: 86px;
    height: 25px;

    font-size: 10px;
    line-height: 22px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    background: #232323;
}
/* section comments */

.comments-sec {
    background: #e9eef1;
}
.comments-sec .sec__inner {
    width: 1100px;
}
.comments-sec .sec__inner:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
.comment {
    position: relative;

    height: 350px;

    background: #fff;
}
.comment__inner {
    padding: 30px;
}
.comment__title {
    font-size: 23px;
    font-weight: 300;
    line-height: 28px;

    color: #232323;
}
.comment__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;

    color: #83969f;
}
.comment__title + .comment__content {
    margin-top: 30px;
}
.comment-photo {
    min-height: 350px;

    background: url('../img/triangle.png'), url('../img/phones_smaller.png');
    background-repeat: no-repeat, no-repeat;
    background-position: -8px 50%, 50% 50%;
    background-size: auto, cover;
}
.counter-box {
    position: absolute;
    bottom: 0;
}
.counter-box__amount {
    font-size: 30px;
    font-weight: 300;

    color: #83969f;
}
.counter-box__info {
    position: absolute;
    bottom: 4px;

    font-size: 12px;
    font-weight: 600;
}
.counter-box__amount + .counter-box__info {
    position: relative;

    margin-left: 20px;
}
.counter-box__amount + .counter-box__info:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;

    width: 1px;
    height: 50px;
    margin: auto 0;

    content: '';

    background-color: #83969f;
}
/* section mastfoot */

.mastfoot-sec {
    position: relative;

    width: 100%;
    height: 660px;

    background: url(../img/drawing_smaller.png) 50% 50% no-repeat;
    background-size: cover;
}
.mastfoot-sec .sec__inner {
    position: relative;

    width: 1100px;
}
.mastfoot-sec .sec__inner:after {
    position: absolute;

    display: block;
    clear: both;

    margin: 0;

    content: '.';
}
.mastfoot-sec .sec__box {
    min-height: 460px;
    margin: 0;
}
/* Footer
   ========================================================================== */

.footer-sec {
    background: #1a2124;
}
.footer-sec .sec__inner {
    width: 1100px;
    padding-top: 90px;
    padding-bottom: 120px;
}
.footer-sec .sec__inner:after {
    display: block;
    clear: both;

    height: 0;
    margin: 0;

    content: '';
}
.footer-box {
    padding: 12px 0;
}
.footer-box__inner {
    margin-left: 100px;
}
.footer-box__text-head {
    font-size: 13px;
    font-weight: 600;

    color: #f6f7fa;
}
.footer-box__text-content {
    padding-top: 12px;

    font-size: 13px;
    line-height: 24px;

    color: #f6f7fa;
}
.newsletter-form {
    padding-top: 12px;
}
.newsletter-form:after {
    display: block;
    clear: both;

    height: 0;
    margin: 0;

    content: '';
}
.newsletter-form i {
    color: #fff;
}
.newsletter-form__input:focus,
.newsletter-form__btn:focus {
    outline: none;
}
.newsletter-form__input {
    float: left;

    width: 300px;
    height: 50px;
    padding-left: 20px;

    font-size: 16px;

    color: #000;
    border: 0;
}
.newsletter-form__btn {
    width: 66px;
    height: 50px;

    font-size: 32px;

    border: none;
    background-color: #835fa8;
}
.site-map {
    width: 100%;
    margin-top: 40px;
}
.site-map__content {
    display: inline-block;

    width: 30%;
}
.map-list {
    margin: 12px 0;
    padding-left: 0;

    list-style-type: none;
}
.map-list__item {
    padding-bottom: 2px;

    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.map-list__item a {
    text-decoration: none;

    color: #e9eef1;
}
.map-list__item a:hover {
    text-decoration: underline;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    /* 1 */
    display: table;

    content: ' ';
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        color: #000 !important;
        background: transparent !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: '';
    }
    pre,
    blockquote {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
